menu-light {
    .row-menu-item {
        ion-icon {
            font-size: 60px;
            color: gray;
        }
        p {
            color: gray;
        }
        ion-card {
            box-shadow: 0px 0px 0px 0px;
            border: 1px solid lightgray;
        }
        ion-card.disabled {
            opacity: 0.5;
        }
        
        ion-card.enabled:active {
            border: 1px solid rgb(242, 151, 28);
            color: color($colors, primary);
            box-shadow: 0px 0px 15px 2px lightgray;
            ion-icon {
                font-size: 60px;
                color: color($colors, primary);
            }
            p {
                color: color($colors, primary);
            }
        }
    }
    ion-grid {
        margin-top: 30px;
    }
}